<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>保单审核列表</title>
    <link rel="stylesheet" type="text/css" th:href="@{/gateway/order/layui/css/layui.css}"/>
    <script type="text/javascript" th:src="@{/gateway/order/layui/layui.js}"></script>
    <script type="text/javascript" th:src="@{/gateway/order/js/dateFormat.js}"></script>
</head>
<body>
<table id="demo" lay-filter="test"></table>
</body>
<script>
    layui.use('table', function(){
        var table = layui.table;

        //第一个实例
        table.render({
            elem: '#demo'
            ,url: 'http://localhost:9000/gateway/order/findPolicyAuditTask'
            ,page: true //开启分页
            ,cols:
                [
                    [ //表头
                        {field: 'task_id', title: '任务编号',align:'center'},
                        {field: 'task_name', title: '任务名称',align:'center'},
                        {field: 'order', title: '询价时间',align:'center',
                            templet:function(obj){
                                return format(obj.order.inquiry_time);
                            }
                        },
                        {field: 'task_name',title: '操作',align:'center',
                            templet:function(obj){
                                return '<button class="layui-btn layui-btn-sm" lay-event="execute_task">处理任务</button>';
                            }
                        }
                    ]
                ],
            request:{
                pageName:'pageIndex',
                limitName:'pageSize'
            }
        });


        table.on("tool(test)",function(obj){
            if(obj.event='execute_task'){
                location.href="http://localhost:9000/gateway/order/forwardAuditOrders/"+obj.data.task_id;
            }
        });

    });
</script>
</html>