<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.java.dao.InsuranceItemMapper">


    <update id="updateInsuranceItemPriceByItemId">
        update
            type_of_insurance_item
        set
            premium = #{premium},
            insured_amount = #{insured_amount}
        where
            item_id = #{item_id}
    </update>



    <!--通过保单编号查询该保单所购买的险种项信息-->
    <select id="findInsuranceItemByPolicyId" resultType="map">
        select * from type_of_insurance_item
        where policy_id = #{policy_id}
    </select>
</mapper>
